{{#.}}
	<div class="column">
		<button
			data-id="{{id}}"
			data-name="{{name}}"
			data-pin-number="{{pinNumber}}"
			class="light-switch inverted massive fluid toggle ui button {{#active}}active{{/active}}">{{name}}</button>
	</div>
{{/.}}